<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Example-Servlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example-Servlet</servlet-name>
    <url-pattern>/example</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Example-Servlet1</servlet-name>
    <servlet-class>TestGenericServlet</servlet-class>
    <init-param>
    <param-name>dbUser</param-name>
    <param-value>Santosh</param-value>
   	
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example-Servlet1</servlet-name>
    <url-pattern>/GTest.do</url-pattern>
  </servlet-mapping>
</web-app>